@import 'vars';
@import 'mixins';

body {
  @include background-size(cover);

  background-color: $color-one;
  background-size: cover;
  text-align: center;
  width: 100%;
}

// -------------------------------------------------------------------------------------------------
// PARALLAX IMAGE SCROLLING
// -------------------------------------------------------------------------------------------------
.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// -------------------------------------------------------------------------------------------------
// DASHBOARD PAGE STYLING
// -------------------------------------------------------------------------------------------------
// .dashboard-page {
//   margin: 5vw auto;
//   width: 80%;
// }

#sign-in-button {
  background-color: white;
  font: $Roboto-Medium;
  font-size: 14px;
  line-height: 18px;
  color: grey;
  padding: auto 8dp;
  height: 40dp;
  width: 240px;
  margin-top: 15px; 

  #googleLogo {
    width: 18dp;
    height: 18dp;
    float: left;
  }

}

#header-image{
  margin-right: 45%;
  font-size: 25px;
  height: 50px;

  #tb-logo {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

p {
  float: right;
  line-height: 50px;
  margin: 0;
}
}

// ----------------------------------------------
// LINKS
// ----------------------------------------------
a {
  &,
  &:visited,
  &:hover,
  &:active,
  &:focus,
  &:active:hover {
    color: inherit;
    text-decoration: none;
  }
}
