@import 'vars';
@import 'mixins';

html {
  height: 100%;
}

body {
  @include background-size(cover);

  background-color: $color-two;
  background-size: cover;
  text-align: center;
  width: 100%;
}

// -------------------------------------------------------------------------------------------------
// PARALLAX IMAGE SCROLLING
// -------------------------------------------------------------------------------------------------
.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// -------------------------------------------------------------------------------------------------
// DASHBOARD PAGE STYLING
// -------------------------------------------------------------------------------------------------
// .dashboard-page {
//   margin: 5vw auto;
//   width: 80%;
// }

#sign-in-button {
  background-color: white;
  font-family: $Roboto-Medium;
  font-size: 18px;
  line-height: 18px;
  color: grey;
  padding: auto 8dp;
  height: 60px;
  width: 275px;
  margin-top: 15px; 
  border-radius: 5px;


  #googleLogo {
    width: 40px;
    height: 40px;
    float: left;
    margin: 5px 3px;
  }

}

#sign-in-button:hover {
  background-color: rgb(233, 233, 233);
  color: $color-three;
}

#header-image{
  font-size: 25px;

  #tb-logo {
    height: 60px;
    width: 60px;
    display: inline-block;
  }

  p {
    line-height: 50px;
    margin: 0;
    display: inline;
    vertical-align: middle;
  }
}

// ----------------------------------------------
// LINKS
// ----------------------------------------------
a {
  &,
  &:visited,
  &:hover,
  &:active,
  &:focus,
  &:active:hover {
    color: inherit;
    text-decoration: none;
  }
}
