@import 'vars';
@import 'mixins';

body {
  @include background-size(cover);

  background-color: $color-two;
  background-size: cover;
  text-align: center;
  width: 100%;
}

// -------------------------------------------------------------------------------------------------
// PARALLAX IMAGE SCROLLING
// -------------------------------------------------------------------------------------------------
.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// -------------------------------------------------------------------------------------------------
// DASHBOARD PAGE STYLING
// -------------------------------------------------------------------------------------------------
.dashboard-page {
  margin: 5vw auto;
  width: 80%;
}

#sign-in-button {
  background-color: #FFFFFF;
  font: $Roboto-Medium;
  font-size: 14px;
  color: 0 0 0 54%;
  padding: auto 8dp;
  height: 40dp;
  line-height: 100%;

  #googleLogo {
    width: 18dp;
  }
}